@import url('./base.css');

.buttonMain {
    display: flex;
    flex-direction: column;
    min-width: 30vh;
    max-width: 30vh;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    border: none;
    background: var(--bg-button-color);
    text-transform: uppercase;
    border-radius: 5px;
}
   
.logoButton {
    width: 15vh;
}

.label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1em;
    font-weight: 500;
}